.partners {
  @media (max-width: $br-point-netbook) {
    &__list {
      flex-wrap: wrap;
      gap: 20px;

      li {
        width: 30%;
      }
    }
  }
  @media (max-width: $br-point-tab) {
    &__list {
      flex-direction: column;
    }
  }

}