.footer {


  @media (max-width: $br-point-netbook) {

    &__navigation-logo{
      padding-left: 20px;
    }
    nav {
     display: none;
    }

    &__social-list {
    i {
      font-size: 22px;
    }
  }
  }
  @media (max-width: $br-point-tab) {


  &__social-list {
    i {
      font-size: 26px;
    }
  }

    &__btn{
      display: none;
    }
}

  @media (max-width: $br-point-mini) {


      &__social-list {
        i {
          font-size: 22px;
        }
      }

    }
}

