.getStarted{
  @media (max-width: $br-point-mob){

    &__info {

      &-title {
        font-size: 36px;
      }
    }
    &__buttons{
      flex-wrap: wrap;
      gap: 10px;

      &-price,
      &-docs{
        width: 80%;
      }
    }
  }
}