$main-font: 'Roboto', sans-serif;
$font-quicksand: 'Quicksand', sans-serif;
$font-open-sans:'Open Sans', sans-serif;

$container-l:1235px;
$container-m:920px;

$font-xl:48px;
$font-l:36px;
$font-m:24px;
$font-s:15px;
$font-xs:10px;

$accent-color-main: #8D96BD;
$accent-color-secondary: #5E81FE;
$main-color:#3D4F9F;

$br-point-comp:1280px;
$br-point-netbook:1024px;
$br-point-tab:768px;
$br-point-mob:480px;
$br-point-mini:320px;

$header_height:83px;

$btn-padding:13px 24px;