.plan{
  @media (max-width: $br-point-comp) {
    &__image{
      width: 80%;
      margin-right: -60px;
    }
  }
  @media (max-width: $br-point-netbook) {
    &__image{
      width: 50%;
      margin-right: 0;
    }
  }
  @media (max-width: $br-point-tab) {
    &__wrapper{
      flex-direction: column;
      align-items: center;
    }
    &__info{
      text-align: center;
      &-video-btn,
      &-features-btn{
        padding: 13px 45px;
        margin: 0 auto;
      }
    }
    &__image{
      width: 100%;
      height:80% ;
    }
  }
}